{% extends 'registration/mbase_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
{% load staticfiles %}
 <div class="parallax-container logueo">

        <div class="parallax"><img src="{% static 'userregister/images/abc.png' %}"></div>

        <div class="row"><br>

            <div class="col m8 s8 offset-m2 offset-s2 center">

                <h4 class="truncate bg-card-user">


                      <div class="row login">

                    <h3>Register for an Account</h3>

                    {% if error_message %}

                        <p><strong>{{ error_message }}</strong></p>

                    {% endif %}

                    <form class="col s12" role="form" action="{% url 'userregister:register' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                            <div class="row">
                             <div class="input-field col m12 s12">
                              <i class="material-icons iconis prefix">account_box</i>
                              <input id="icon_prefix"  maxlength="30" name="username" type="text" class="validate">
                              <label for="icon_prefix">Username</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col m12 s12">
                              <i class="material-icons iconis prefix">enhanced_encryption</i>
                              <input id="Email" class="validate" maxlength="30" name="email" type="Email">
                              <label for="Email">Email</label>
                            </div>
                          </div>

                          <div class="row">
                            <div class="input-field col m12 s12">
                              <i class="material-icons iconis prefix">enhanced_encryption</i>
                              <input id="password" class="validate" maxlength="30" name="password" type="password">
                              <label for="password">Password</label>
                            </div>
                          </div>



                                <button type="submit" class="btn btn-success">Submit</button>

                        
                    </form>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
