

<!DOCTYPE html>
<html lang="en">
  <head>
      {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="{% static 'registration/images/U3CwBJu.png' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'registration/index.css' %}">
  </head>
  <body>
    <nav class="grey darken-4">
	    <div class="nav-wrapper">
		    <!-- <a href="ans2human.com" class="brand-logo center"><img src="./css&js/U3CwBJu.png"></a> -->
		    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		    <ul class="left hide-on-med-and-down">
				<li><a href="{% url 'registration:logout_user' %}">Sign-IN</a></li>
		        <li><a href="{% url 'registration:register' %}">Register</a></li>
		        <li><a href="/accounts/password_reset/">Reset Password</a></li>
		        <li><a href="#">Whatever</a></li>
		    </ul>
		    <ul class="side-nav" id="mobile-demo">
		        <li><a href="#">Link</a></li>
		        <li><a href="#">Some</a></li>
		        <li><a href="#">Any</a></li>
		        <li><a href="#">Whatever</a></li>
		    </ul>
		</div>
  	</nav>

{% block body %}
{% endblock %}

    
<footer class="page-footer grey darken-4">
    <div class="footer-copyright">
        <div class="container center">
          Copyright © 2019 - Ender Wiggin
        </div>
    </div>
</footer>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'registration/js/index.js' %}"></script>
  </body>
</html>