{% extends 'registration/mbase_visitor.html' %}

{% block body %}
{% load staticfiles %}
	<div class="had-container">

	     <div class="parallax-container logueo">
      	<div class="parallax"><img src="{% static 'registration/images/abc.png' %}"></div>
      	<div class="row"><br>
      		<div class="col m8 s8 offset-m2 offset-s2 center">
      			<h4 class="truncate bg-card-user">
<!--       				<img src="{% static 'registration/images/U3CwBJu.png' %}" alt="" class="responsive-img">
 -->					  <div class="row login">
					  	<h4>Login</h4>
					  
					    <form class="col s12" role="form" action="{% url 'registration:login_user'%}" method="post" 
					    enctype="multipart/form-data">
                        {% csrf_token %}
					      <div class="row">
					         <div class="input-field col m12 s12">
					          <i class="material-icons iconis prefix">account_box</i>
					          <input id="icon_prefix"  maxlength="30" name="username" type="text" class="validate">
					          <label for="icon_prefix">Email</label>
					        </div>
					      </div>
					      <div class="row">
					        <div class="input-field col m12 s12">
					          <i class="material-icons iconis prefix">enhanced_encryption</i>
					          <input id="password" class="validate" maxlength="30" name="password" type="password">
					          <label for="password">Password</label>
					        </div>
					      </div>
					      <div class="row">
					      	<button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
					      </div>
					      <div class="row">
								<a class="txt2" href="/accounts/password_reset/">
									<h6>Forgot Password?</h6>
								</a>
								</div>
					<!-- <hr style="border-top: dotted 1px;" />		
			      	 -->
								



					    </form>
					  </div>
      			</h4>
		   	  </div>
	    	</div>
	    </div>
    </div>
    
{% endblock %}